node_modules
.env
.env.enc
coverage
coverage.json
deployments

# Hardhat files
cache

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments
